@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Oxford, OH 45056<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:juggernott81@gmail.com">click to email</a><br />
    <strong>Marketing:</strong> <a href="mailto:juggernott81@gmail.com">click to email</a>
</address>