
@{
    ViewBag.Title = "Dashboard";
}

<div class="pd-30">
    <h4 class="tx-gray-800 mg-b-5">Dashboard</h4>
    <h1>This is the primary dashboard page.<br />Sorry, it's currently under construction.</h1>
</div><!-- d-flex -->

<div class="br-pagebody mg-t-5 pd-x-30">
    <div class="row row-sm">

    </div><!-- row -->



</div><!-- br-pagebody -->
