
.td {
    overflow: hidden;
    text-overflow: ellipsis;
}

.td-narrow {
    max-width: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.td-wide {
    max-width: 75px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.td-wide {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}

h2 {
    text-align: center;
}

.iCentered {
    text-align: center;
}

.centerColumn {
    font-size: 2em;
}

.keepAtBottom {
    position: fixed;
    bottom: 0;
    text-align: center;
}

.importedBody {
    margin-left: 15%;
    margin-top: 5%;
}
